.enter_form_item, #login, #passwd_input {
	padding-left: auto;
	padding-right: auto;
	width: 164px;
	margin: 0px;
	color: gray;
}
#login {
	margin-top: 8px;
	margin-bottom: 17px;	
}
#passwd_input {
	margin-top: 2px;
	margin-bottom: 3px;	
}
#registration_header {
	height: 40px;
	margin: 0px;
	padding: 0px;
}
.registration_wrapper1, .registration_wrapper2 {
	height: 40px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}
.registration_wrapper1 {
	height:10px;
	/*padding-top: 20px;*/
}
#registration_ok {
	height: 40px;
	margin: 0px;
	margin-bottom: 10px;
}
#registration {
	float: right;
	display: block;
	font-size: x-small;
	margin-right: 5px;
}
#enter_ok {
	float: right;
	clear: both;
	display: block;
	margin: 5px;
}
.enter_container {
	text-align: center;
}
.enter_error {
	border: 1px solid #ff8f8f;
}
#logout_button {
	position: absolute;
	right: 10%;
	top: 0px;	
	font-size: x-small;
}
