{if count($TPL_modules['top'])}
	<div class="column">
	{foreach from=$TPL_modules['top'] item=module}
		{*<div class="portlet">
			<div class="portlet-header">{$module}</div>*}
{include file=$module}
			{*<div class="portlet-content">{include file=$module}</div>
		</div>*}
	{/foreach}
	</div>
{/if}
	<noscript>
		<div class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
				<strong></strong>{$LANG['JS not work...']}</p>
			</div>
		</div>
	</noscript>
	<nocookies style="display: none;">
		<div class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
				<strong></strong>{$LANG['Cookies not work...']}</p>
			</div>
		</div>
	</nocookies>
{if ISSET($LOG_messages)}
{foreach from=$LOG_messages item=line}
	{if $line->level() == 7}
		<div style="color: gray;">{$line->message()}</div>
	{elseif  $line->level() == 6}
		<div style="color: black;">{$line->message()}</div>
	{elseif  $line->level() == 5}
		<div class="ui-widget">
			<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				{$line->message()}</p>
			</div>

		</div>
		<div style="color: blue;"></div>
	{elseif  $line->level() == 3}
		<div class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
				<strong></strong>{$line->message()}</p>
			</div>
		</div>
	{elseif  $line->level() == 1}
		<div class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
				<strong></strong>{$line->message()}</p>
			</div>
		</div>
	{/if}
{/foreach}
{/if}
