	<noscript>
			<div class="ui-state-error ui-corner-all"> 
				<p class="message"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> <a style="color: white; border-color: white;" href="http://ru.wikipedia.org/wiki/Javascript" title="Javascript" target="_blank">{$lang->translate('JS')}</a> {$lang->translate('not work')}... {$lang->translate('recomended turn on')}</p>
			</div>
	</noscript>
	<div style="display: none; margin: 0px;" id="nocookies">
			<div class="ui-state-error ui-corner-all"> 
				<p class="message"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> <a style="color: white; border-color: white;" href="http://ru.wikipedia.org/wiki/HTTP_cookie" title="cookies" target="_blank">{$lang->translate('cookies')}</a> {$lang->translate('not work')}... {$lang->translate('recomended turn on')}</p>
			</div>
	</div>
	
{if ISSET($LOG_messages)}
{foreach from=$LOG_messages item=line}
	{if $line->level() == 7}
		<div style="color: gray;">{$line->message()}</div>
	{elseif  $line->level() == 6}
		<div style="color: black;">{$line->message()}</div>
	{elseif  $line->level() == 5}
			<div class="ui-state-highlight"> 
				<p class="message"><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>{$line->message()}</p>
			</div>
	{elseif  $line->level() == 3}
			<div class="ui-state-error ui-corner-all"> 
				<p  class="message">{$line->message()}</p>
			</div>
	{elseif  $line->level() == 1}
			<div class="ui-state-error ui-corner-all"> 
				<p  class="message"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>{$line->message()}</p>
			</div>
	{/if}
{/foreach}
{/if}
