/* главные секции -> */
#container {
	width: 98%; /* Общая ширина колонок */ 
	margin-left: auto; /* Отступ слева */ 
	margin-right: auto; /* Отступ слева */ 
}
#left_page { /* Левая колонка*/ 
	width: 191px; /* Ширина слоя */ 
	float: left; /* Состыковка с соседним слоем */ 
	min-height: 20px; 
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
	min-height: 500px;
}
.container_main_page {
	left: 10px;
	padding: 0px;
	margin: 0px;
	margin-left: 200px; 
}
#main_page { /* главная */ 
	margin-left: 200px; /* Отступ слева */ 
	min-height: 20px; 
	min-width: 200px; 
	padding: 0px;
	margin: 0px;
} 
#main_container { /* главная */ 
	margin-left: 200px; /* Отступ слева */ 
	min-height: 20px; 
	min-width: 200px; 
	padding: 0px;
	margin: 0px;
} 
#bottom_page { /* низ */ 
	min-height: 90px; 
	clear: both;
} 
#top_page { /* top */ 
	padding: 0px;
	margin: 0px;
	margin-left: 200px; /* Отступ слева */ 
}
#columns_container {
	margin-top: 9px; 
}
#header_page { /* top */ 
	min-height: 39px;
}
.header-img {
	margin-top: 20px;
}
/* <- главные секции */
/* для меню-контейнеров -> */
.column { 
	width: 191px; 
	padding: 0px;
	margin: 0px;
	float: left; 
}
.portlet { 
	margin: 0px; 
	margin-top: 0px;
	background: #fafafa;
}
.left_menu_item {
	margin-bottom: 8px;
}
.main_page_item {
	padding: 0px;
	margin: 0px;
}
/*.portlet:hover { 
	background: #f5f5f5;
}*/
.portlet-header { 
	padding: 10px;
	height: 18px;
	margin: 0px;
	vertical-align: middle; 
	color: gray;
}
.portlet-header .ui-icon { 
	float: right; 
}
.portlet-content { 
	padding: 0px; 
}
.ui-sortable-placeholder { 
	border: 1px dotted black; 
	visibility: visible !important; 
	height: 50px !important; 
}
.ui-sortable-placeholder * { 
	visibility: hidden; 
}
/* <- для меню-контейнеров */
a {
	color: gray;
	text-decoration: none;
	border-bottom: 1px dashed gray;
}
a:hover {
	color: black;
}
button {
	margin-right: 9px !impotant;
	margin-left: 0px !impotant;
	margin-top: 0px !impotant;
	margin-bottom: 9px !impotant;
	height: 40px;
}
input {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 9px;
	padding: 0px;
	height: 25px;
}
select {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 9px;
	vertical-align: middle;
	height: 25px;
}
textarea {
	margin: 0px;
	margin-bottom: 9px;
	height: 90px;
}
h3 {
	font-size: large;
	height: 40px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 0px;
}
.bottom_page_container {
	width: 900px; /* Общая ширина колонок */ 
	margin-left: auto; /* Отступ слева */ 
	margin-right: auto; /* Отступ слева */ 
	font-size: small;
}
.bottom_page_item_top, .bottom_page_item_bottom {
	height: 40px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
.bottom_page_item_top {
	margin-bottom: 9px;
}
.bottom_page_item {
	float: left;
	margin-left: 60px;
	color: gray !important;
}
.bottom_page_item_content {
	position: relative;
	top: -15px; 
}
.form_entry {
	margin: 0px;
	padding: 0px;
	width: 500px;
}
p.message {
	 padding: 10px; 
	 margin: 0px; 
}
.single_big_img {
	padding: 50px;
}