#basket, #trash, #basket_list, #basket_element_clone  { 
	list-style-type: none; 
	margin: 0px; 
	padding: 0px; 
	min-height: 20px;
	float: left; 
	border: 0px solid gray;
}
#basket_confirm_products_list {
	margin-left: 200px;
	width: 500px;
	}
#basket li, #trash li, #basket_list li, #basket_element_clone  li { 
	margin: 0 5px 5px 5px; 
	padding: 5px; 
	padding-left: 0px; 
	width: 155px; 
}
/* buy button */
.buy {
	font-weight: bold;
	color: black;
}
.body_tooltip{
	position: relative;
	top: -40px;
	background: #fff0a5;
	opacity: 0.8;
	padding: 4px;
	border: 1px solid #f3f3f3;
}
.tooltip{
   position: absolute;
   /*top: 0;
   left: 0;*/
   z-index: 44;
   display: none;
}
#basket_show {
	float: right;
	clear: both;
	display: block;
	margin: 5px;
}
.connected_basket {
	display: none;
}
#busket_order_ok {
	margin-top: 10px;
}
.header_message {
	margin-top: 9px;
	height: 40px;
	margin-bottom: 9px;
}
.child_products_list_on_confirm_page {
	margin-left: 20px;
}
.name_of_product_on_confirm_page{
	margin-left: 10px;
}